#overlay {
    position: fixed;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.overlay-active {
    overflow: hidden;
    display: block !important;
}


/* NAVBAR */
nav {
    padding: 12px 0px;
    background-color: var(--nav-bg);
}
.nav-container {
    padding: var(--page-pading);
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
}
.nav-container ul {
    display: flex;
    gap: var(--gap-elements);
}
.nav-container ul li a {
    position: relative;
    transition: ease-in-out 0.4s;
}
.nav-container ul li a:hover {
    color: var(--color-text-hover-nav);
}
.nav-container ul li a:hover::after {
    transition: ease-in-out 0.4s;
    transform: scale(1);
}
.nav-container ul li a::after {
    transition: ease-in-out 0.4s;
    position: absolute;
    bottom: -2px;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    display: block;
    border-bottom: 1px solid var(--color-text-hover-nav);
    padding-bottom: 2px;
}
.nav-container a {
    color: var(--color-second);
    font-size: var(--font-size-sm);
}
.contact-nav {
    display: flex;
    align-items: center;
    gap: var(--gap-elements);
}

/* HEADER */
/* search-container */
.search-container {
    border-bottom: 1px solid var(--border-top);
    position: relative;
}
.search-elements {
    padding: var(--page-pading);
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-search-elements {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: var(--gap-elements);
}
.left-search-elements button {
    cursor: pointer;
    border: none;
    background-color: var(--bg-black-bth);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: var(--font-size-base);
    gap: 8px;
    padding: 14px 16px;
    border-radius: var(--border-radius);
    color: var(--color-second);

}
.left-search-elements button span {
    position: relative;
    width: 18px;
    height: 1.2px;
    background-color: white;
    transition: ease-in-out .3s;
}
.left-search-elements button span::after,
.left-search-elements button span::before {
    position: absolute;
    content: '';
    display: block;
    width: 18px;
    height: 1.2px;
    background-color: white;
}
.left-search-elements button span::after {
    top: 6px;
    transition: ease-in-out .3s;
}
.left-search-elements button span::before {
    bottom: 6px;
    transition: ease-in-out .3s;
}
.left-search-elements button .drop-down-active {
    background-color: black;
}
.left-search-elements button .drop-down-active::after {
    height: 2px;
    top: 0;
    transform: rotate(-45deg);
}
.left-search-elements button .drop-down-active::before {
    height: 2px;
    bottom: 0;
    transform: rotate(45deg);
}
.center-search-elements {
    width: 100%;
}
.center-search-elements form {
    display: flex;
    justify-content: space-between;
    max-width: 568px;
    border: 1px solid rgb(179, 171, 171);
    border-radius: var(--border-radius);
    padding: 15.5px 0px;
    margin-left: 120px;
}
.center-search-elements form input {
    margin-left: 16px;
    border: none;
    width: 100%;
    background-color: var(--backgroun-color);
}
.center-search-elements form input:focus {
    outline: none;
}
.center-search-elements form button {
    background: none;
    margin-right: 16px;
    border: none;
    cursor: pointer;
}
.right-search-elements {
    display: flex;
    align-items: self-end;
    gap: 8px;
}
.search-elements-icon {
    position: relative;
}
.search-elements-icon p {
    top: -8px;
    right: -8px;
    font-weight: normal;
    font-size: var(--font-size-small);
    position: absolute;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-search-elements-icon);
    color: white;
}

/* choise-btn-page-container */

.choise-btn-page-container {
    margin-bottom: 60px;
    background-color: var(--bg-white);
}
.choise-btn-items {
    padding: var(--page-pading);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 31px;
}
.choise-btn-items button {
    border: 2px solid white;
    padding: 16px 29px;
    cursor: pointer;
    background: none;
    border-radius: var(--border-radius);
    transition: ease-in-out .3s;
}
.choise-btn-items button p {
    opacity: 50%;
    font-size: var(--font-size-base);
    margin-top: 8px;
    transition: ease-in-out .3s;
}
.choise-btn-items button:hover p {
    opacity: 1;
}
.choise-btn-items button:hover {
    background-color: #F5F5F7;
    border: 2px solid var(--border);
}
.choise-btn-items button svg {
    transition: ease-in-out .3s;
    opacity: 50%;
}
.choise-btn-items button:hover svg {
    transition: ease-in-out .3s;
    opacity: 1;
}

/* первый свайпер */
.pages-select-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pages-select {
    width: 24%;
}
