*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*:after{
-moz-box-sizing:border-box;
-webkit-box: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner-{padding:0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    background-color: #fff; 
    /* background: url(/assets/images/fon.jpg); */
    
}
.wrapprt__page{
    width: 1185px;
    margin: 0 auto;
}
.header__new {
    justify-content: space-between;
}
.header {
    background: url("../images/img.jpg") no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
}
.nav {
    max-width: 895px;
    height: 800px;
    margin: 0 auto;
    padding: 50px 0;
}
/* зелена черта снизу кнопок */
.trait_1{
    background: #4CAF50;
    width: 53px;
    height: 2px;
    position: relative;
}
.trait_2{
    background: #4CAF50;
    width: 20px;
    height: 2px;
    position: relative;
    left: 30px;
}
.trait_3{
    background: #4CAF50;
    width: 24px;
    height: 2px;
    position: relative;
    left: 47px;
}
.trait_4{
    background: #4CAF50;
    width: 20px;
    height: 2px;
    position: relative;
    left: 20px;
}
.trait_5{
    background: #4CAF50;
    width: 32px;
    height: 2px;
    position: relative;
    left: 35px;
}
.nav__info {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    padding-right: 20px;
    padding-left: 20px;
}
.space__numbers {
    display: flex;
    justify-content: center;
}
/* WHERE GREAT IDEAS COME TO LIFE */
.header__title {
    padding: 180px 0;
    max-width: 100%;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: white; 
}
.header__text {
    position: relative;
    bottom: 140px;
    font-family: OpenSans;
    font-size: 20px;
    line-height: 23px;
    mix-blend-mode: normal;
    opacity: 0.7;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    color: #fff;
}
.header__numbers {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    display: flex;
    justify-content: space-between;
    width: 100px;
} 
.number__one:hover {
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    height: 2px;
    width: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2.30400013923645px;

}
.number__two:hover {
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    height: 2px;
    width: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2.30400013923645px;
}
.number__three:hover {
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    height: 2px;
    width: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2.30400013923645px;
}
.menu__box li {
    color: #fff;
    
}
.menu__box {
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 30px 0;
    font-weight: 700;
}
/* скрытие меню */
#menu__toggle{
    opacity: 0;
    display: none;
}
@media (max-width: 757px){
 /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 50;
}
  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #DDAE21;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 49;
}
  /* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.trait_1 {
    width: 0px;
}
.trait_2 {
    width: 0px;
}
.trait_3 {
    width: 0px;
}
.trait_4 {
    width: 0px;
}
.trait_5 {
    width: 0px;
}

}
.container{
    max-width: 1400px;
    margin: 150px auto;

}
.parent {
    width: 100%;
    display: flex;
    justify-content:center;
}
.children {
    position: relative;
    background: url("../images/ebalo.png") center no-repeat;
    width: 400px;/* здесь поставишь свои размеры*/
    height: 700px;
    background-color: rgba(0,0,0);
    cursor:pointer-events;   
    transition: all ease .5s; 
}
.children:hover{
    background-color: rgba(0,0,0);
}
.children:before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/ebalo.png") center no-repeat;
    content: "";/* сюда можно вставить урл картинки*/
    top: 0;
    left: 0;
    background-color: rgba(0,0,0);
    transition: all ease .5s;
}
.children:hover:before{
    transform: translate(-70%, -20%);
    -webkit-transform: translate(-70%, -20%);
    -moz-transform: translate(-70%, -20%);
    -ms-transform: translate(-70%, -20%);
    -o-transform: translate(-70%, -20%);
}
.children:after{
    position: absolute;
    background: url("../images/ebalo.png") center no-repeat;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.children:hover:after{
    transform: translate(70%, 20%);
    -webkit-transform: translate(70%, 20%);
    -moz-transform: translate(70%, 20%);
    -ms-transform: translate(70%, 20%);
    -o-transform: translate(70%, 20%);
}
@media(max-width: 768px){
    .children:hover:before{
    transform: translate(0,-90%);
    /*top: -50%;
    */:;
    -webkit-transform: translate(0,-90%);
    -moz-transform: translate(0,-90%);
    -ms-transform: translate(0,-90%);
    -o-transform: translate(0,-90%);
}
    .children:hover:after{
    transform: translate(0,90%);
}
}
.servisec {
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.aside{
    margin: 0 auto;
    width: 1025px;
    max-width: 100%;
    /* цвет фона */
    background-color: white; 
}
.title {
    padding: 0px 50px 0px 0px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}
.vertical__stick {
    background-color: black;
    width: 45px;
    height: 2px;
    margin: 20px 0px 20px 0px;
}
.col {
    padding: 120px 0px 0px 0px;
    display: flex;
    margin: 0 auto;
}
.branding {
    width: 373px;
    height: 260px;
}
.subject {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}
.logo{
    background: url();
}
.rectangle {
    margin: 20px 0px 20px 0px;
    background-color: black;
    width: 35px;
    height: 2px;

}
.subtitle {
    width: 281px;
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    color: #777777;
}
.excerpt {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.64px;
    color: #252525;
    opacity: 0.5;
    margin: 20px 0px 0px 0px;
}
.desing {
    width: 373px;
    height: 260px;
}
.desing__stick {
    background-color: green;
    width: 240px;
    height: 2px;
    margin: 20px 0px 0px 0px;
}
.development {
    width: 373px;
    height: 260px;
}
@media(max-width: 768px){
    .col{
        display: block;
    }
}
.box {
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
}
.content {
    margin: 0 auto;
    width: 1185px;
    height: 2800px;
    max-width: 100%;
    font-family: 'Oswald';
}
.info {
    max-width: 100%;
}
.title {
    margin: 70px 0px 0px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
    max-width: 100%;
}
.tiny {
    background-color: black;
    width: 45px;
    height: 2px;
}
.categories__nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 30px 0;
    font-weight: 700;
    max-width: 100%;
}
.sidebar{
    display: flex;
}
.first {
    margin-top: 200px;
    width: 584px;
    height: 556px;
}
.second {
    width: 583px;
    height: 596px;
    
}
.sidebar__two{
    display: flex;
}
.third {
    margin-top: 200px;
    width: 584px;
    height: 555px;
}
.forch {
    
    width: 609px;
    height: 558px;
}
.imgs__first{
    background: url("../images/camera.jpg");
    background-size: cover;
    width: 455px;
    height: 444px;
}
.imgs__second{
    background: url("../images/cat.jpg");
    background-size: cover;
    width: 455px;
    height: 444px;
}   
.imgs__third{
    background: url("../images/mac.jpg");
    background-size: cover;
    width: 455px;
    height: 444px;
}
.imgs__forch{
    background: url("../images/nout.jpg") ;
    background-size: cover;
    width: 455px;
    height: 444px;
}
.headline{
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}
.subtitle{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.152px;
    color: #252525;

}
.desc{
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.832px;
    color: #C2C2C2;
}
@media(max-width: 768px){
    .box {
        
        max-width: 100%;
        margin: 0 auto;
        margin: 730px 0px 0px 0px;
    }
    .categories__nav{
        display: block;
        line-height: 40px;
        font-size: 20px;
    }
    .headline{
        max-width: 100%;
        width: 300px;
        font-size: 20px;
    }
    .content {
        margin: 0 auto;
        height: 1800px;
        max-width: 100%;
        font-family: 'Oswald';
    }
    .sidebar__two{
        
        display: block;
    }
    .sidebar{
        display: block;
    }
    .third{
        margin-top: 0px;
        margin: 70px 0px 0px 0px;
    }
    .second{
        margin: 40px 0px 0px 0px;
    }
    .forch{
        margin: 90px 0px 0px 0px;
    }
    .imgs__second{
        max-width: 100%;
        width: 300px;
        height: 444px;
        background-size: cover;
        
    }

    .imgs__first{
        background-size: cover;
        max-width: 100%;
        width: 300px;
        height: 444px;
    }

    .imgs__forch{
        background-size: cover;
        max-width: 100%;
        width: 300px;
        height: 444px;
    }

    .imgs__third{
    background-size: cover;
    max-width: 100%;
    width: 300px;
    height: 444px;
}